# Songs files
*.mp3
*.webm

# Folders
main_bot/logs
src
.idea
.venv
.vscode

# Python Files
settings.py

# Lavalink files
application.yml
Lavalink.jar

# Python Cache
__pycache__

# Files Created
discord.log
spring.log
*.bat
*.db
*.sqlite
